<div class="login">
  <p>{{ titulo }}</p>
  <!-- <form #frmLogin="ngForm" (ngSubmit)="onSubmit(frmLogin)">
	<p>
		<label for="txtRegistro">Registro Académico</label><br>
		<input type="text" name="txtRegistro" #txtRegistro="ngModel" [(ngModel)]="usuario.registroAcademico" required >
		<span *ngIf="txtRegistro.touched && !txtRegistro.valid" >El nombre no es válido</span>
	</p>
	<p>
		<label for="txtClave">Apellido</label><br>
		<input type="text" name="txtClave" #txtClave="ngModel" [(ngModel)]="usuario.clave" required >
		<span *ngIf="txtClave.touched && !txtClave.valid" >El trabajo no es válido</span>
        <input type="submit" name="" value="Ingresar" [disabled]="!frmLogin.form.valid">
	</p>
  </form> -->
</div>
